/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/*
Theme Name: Simple Parallax Website
Description: Simple Parallax Scrolling Effect
Author: Samuel Dalusung
*/

body{
	background-color: #E9EAED;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#header{
	background-image: url(../img/tile_header.png);
	background-repeat: repeat-x;
	background-size: auto;
	background-position: 0 0;
	background-color: #4c66a4;
	border: 0;
	-webkit-box-shadow: none;
	position: relative;
	height: 42px;
	border-bottom: 1px solid #133783;
	min-width: 981px;
}

#container_pic_info{
	width: 850px;
	height: 358px;
	/*border: 1px solid #000;*/
	margin: 0 auto;	
	position: relative;
	right: 72px;
}

#container_pic_info_menu{
	width: 848px;
	height: 45px;
	border: 1px solid #000;
	position: relative;
	top: 311px;
	background-color: #FFF;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

.menu_text{
	border-right: 1px solid #e9eaed;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 43px;
	line-height: 3.05;
	padding: 0 17px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	top: -311px;
	left: -244px;
	color: #333;
}

#cover_pic{
	background: url(../img/10154405_686705404719679_3079758776028496734_n.jpg) no-repeat;
	width: 848px;
	height: 314px;
	position: relative;
	z-index: 99;
	float: left;
	background-position: -29px;
	border: 1px solid #999999;
}

#container_profile_pic{
	padding: 4px;
	width: 160px;
	height: 159px;
	border: 1px #999999 solid;
	position: relative;
	z-index: 100;
	float: left;
	top: -139px;
	left: 14px;
	background-color: #FFF;
	border-radius: 3px;
}

#profile_pic{
	background: url(../img/profile_pic.JPG) no-repeat;
	background-size: 159px 159px;
	width: 159px;
	height: 159px;
}

#profile_name{
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	float: left;
	z-index: 100;
	bottom: 41px;
	left: 35px;
	position: relative;
	cursor: pointer;
}

#profile_name:hover{
	text-decoration: underline;
};

#menu_border_left{
	border-left: 1px solid #e9eaed;
}